.nagy{
    margin: auto;
    width: 400px;
}
.Szurke{
    margin-left: 90px;
}
.Kek{
    float: right;
}
.piros{
    float: right;
}
.Piros{
    margin-left: 100px;
}
.kek{
    margin-left: 200px;
}

